<h2 class="fs-1 fw-bold mb-5 px-sm-5">
    <span class="handwriting text-nowrap">En route vers</span>
    <span class="handwriting text-nowrap">la mobilité verte !</span>
</h2>

{{ form_start(carpoolSearchForm, { 'action': path('app_carpool_search') }) }}

    <div class="d-md-flex flex-row justify-content-center">

        {# Departure city input #}
        <div class="d-flex flex-column mb-4 mb-md-0 mx-auto mx-md-0" style="max-width: 500px;">
            <div class="input-group mb-0 pb-0 rounded-4 px-3 mx-auto mx-md-0">
                <span class="input-group-text fs-2 justify-content-center rounded-start-4 shadow" style="width: 60px;">
                    {{ ux_icon('gis:route-start') }}
                </span>
                <div class="form-floating">
                    {{ form_widget(carpoolSearchForm.departureCity, {
                        'attr': {'class': 'text-start ps-4 rounded-end-4 shadow', 'aria-required': 'true'}}) }}
                    {{ form_label(carpoolSearchForm.departureCity) }}
                </div>
            </div>
            <small>{{ form_help(carpoolSearchForm.departureCity) }}</small>
            {{ form_errors(carpoolSearchForm.departureCity) }}
        </div>

        {# Arrival city input #}
        <div class="d-flex flex-column mb-4 mb-md-0 mx-auto mx-md-0" style="max-width: 500px;">
            <div class="input-group mb-0 pb-0 rounded-4 px-3 mx-auto mx-md-0">
                <span class="input-group-text fs-1 justify-content-center rounded-start-4 shadow" style="width: 60px;">
                    {{ ux_icon('gis:route-end') }}
                </span>
                <div class="form-floating">
                    {{ form_widget(carpoolSearchForm.arrivalCity, {
                        'attr': {'class': 'text-start px-4 rounded-end-4 shadow', 'aria-required': 'true'}}) }}
                    {{ form_label(carpoolSearchForm.arrivalCity, null, {'attr': {'class': 'text-start text-md-end'}}) }}
                </div>
            </div>
            <small>{{ form_help(carpoolSearchForm.arrivalCity) }}</small>
            {{ form_errors(carpoolSearchForm.arrivalCity) }}
        </div>

    </div>

    {# Datetime of start input #}
    <div class="input-group mb-5 my-md-4 rounded-4 px-3 mx-auto" style="max-width: 500px;">
        <span class="input-group-text fs-3 justify-content-center rounded-start-4 shadow" style="width: 60px;">
            {{ ux_icon('uiw:date') }}
        </span>
        <div class="form-floating" data-controller="flatpickr" data-flatpickr-mode="datetimeSinceTodayMaxOneYear">
            {{ form_widget(carpoolSearchForm.departureTime, {
                'attr': {
                    'class': 'text-start ps-4 rounded-end-4 flatpickr shadow',
                    'placeholder': "now"|date("Y-m-d\\TH:i", "Europe/Paris"),
                    'aria-required': 'true' }}) }}
            {{ form_label(carpoolSearchForm.departureTime) }}
        </div>
        <small>{{ form_help(carpoolSearchForm.departureTime) }}</small>
        {{ form_errors(carpoolSearchForm.departureTime) }}
    </div>

    {# Sunmit button #}
    {{ form_row(carpoolSearchForm.submit, { 'attr': {
        'class': 'btn btn-lg btn-primary shadow mt-1 scaleOnFocusAndHover'
    }}) }}

    <div class="d-none">
        {{ form_rest(carpoolSearchForm) }}
    </div>

{{ form_end(carpoolSearchForm) }}