{% if (ratingValue) %}
	<ul class="d-flex flex-row flex-nowrap justify-content-center {{ subtitled ? 'mb-0' }}" title="{{ ratingValue|number_format(1, '.', '') }} sur 5">
		{% set roundedRating = (ratingValue * 2)|round(0, 'ceil') / 2 %}
		{% set fullStars = roundedRating|round(0, 'floor') %}
		{% set halfStar = (roundedRating - fullStars) >= 0.5 %}
		{% set emptyStars = 5 - fullStars - (halfStar ? 1 : 0) %}

		{% for i in 1..fullStars %}
			<li class="" style="width: {{ starWidth ?? '15px' }};">
				{{ ux_icon('line-md:star-filled') }}
			</li>
		{% endfor %}

		{% if halfStar %}
			<li class="" style="width: {{ starWidth ?? '15px' }};">
				{{ ux_icon('line-md:star-filled-half') }}
			</li>
		{% endif %}

		{% if roundedRating < 4.5 %}
			{% for i in 1..emptyStars %}
				<li class="" style="width: {{ starWidth ?? '15px' }};">
					{{ ux_icon('line-md:star') }}
				</li>
			{% endfor %}
		{% endif %}
	</ul>
{% else %}
	<small class="fst-italic mb-0">Non évalué(e)</small>
{% endif %}
