{{ form_start(passengerProfileForm, { 'action': path('app_profile') }) }}

<h2 class="fs-3 fw-bold mt-4 mb-3 px-3 pb-2 border-bottom border-primary">
	{% if not app.user.passengerProfileCompleted %}
		<span class="text-nowrap">Vous pouvez</span>
		<span class="text-nowrap">compléter</span>
		<span class="text-nowrap">votre profil</span>
	{% else %}
		<span class="text-nowrap">Votre profil</span>
		<span class="text-nowrap">passager</span>
		<span class="text-nowrap">est complet</span>
	{% endif %}
</h2>

<div class="d-flex flex-column flex-lg-row align-items-center mx-sm-3 mt-sm-5">

	{# Email disabed input #}
	<div class="row text-start pe-lg-5">
		<h3 class="col-sm-4 col-form-label my-auto">
			<label class="fs-6 fw-bold mb-0 form-label" for="passenger_email">Adresse Email</label>
		</h3> 
		<div class="col-sm-8 my-auto">
			<div class="col-sm-8 my-auto">
				<input type="email" id="passenger_email" name="passenger[email]" placeholder="exemple@mail.com" class="text-start ps-3 ps-md-4 rounded-3 shadow mx-auto disabled form-control" disabled="true" readonly="true" style="max-width: 320px;" value="{{ app.user.email }}" aria-describedby="driver_profile_email_help">
			</div>
		</div>
		<small>
			<div class="form-text mb-0 help-text text-sm-start p-1 p-sm-2" id="driver_profile_email_help">
				C'est l'identifiant de votre compte.
				Cette adresse n'est pas visible par les autres utilisateurs de la plateforme.
				Il n'existe pas encore de procédure automatisée de changement d'adresse email.
				Si besoin, vous devez en faire la demande au <a href="{{ path('app_home') }}">support</a>.
			</div>
		</small>
	</div>

	{# Button link to reset password request page #}
	<div class="px-3 py-4">
		<h3 class="fs-6 fw-bold">Mot de passe</h3>
		<p class="mx-auto my-0">
			<a class="btn btn-sm btn-outline-primary" href="{{ path('app_forgot_password_request') }}" style="max-width: 125px;" aria-describedby="driver_profile_reset_password_help">réinitialiser</a>
		</p>
		<small>
			<div class="form-text mb-0 help-text">Une action de votre part par email sera nécessaire.</div>
			<div class="d-none" id="driver_profile_reset_password_help">
				Ouvre une page où il vous sera demandé de saisir votre adresse e-mail.
				Si celle-ci correspond à un compte, un e-mail contenant un lien valable une heure
				pour réinitialiser votre mot de passe vous sera envoyé.
			</div>
		</small>
	</div>

</div>

<hr>

<div class="d-flex flex-column flex-lg-row align-items-center mx-sm-3 mt-sm-5">

	{# Pseudo input #}
	<div class="row text-start pe-lg-5">
		<h3 class="col-sm-4 col-form-label my-auto">
			{{ form_label(passengerProfileForm.pseudo, 'Pseudo', {'label_attr': { 'class': 'fs-6 fw-bold mb-0'}}) }}
		</h3>
		<div class="col-sm-8 my-auto">
			{{ form_widget(passengerProfileForm.pseudo, { 'attr': {
				'class': 'text-start ps-3 ps-md-4 rounded-3 shadow mx-auto',
				'aria-describedby': passengerProfileForm.pseudo.vars.id ~ '_help',
				'required': 'true',
				'style': 'max-width: 320px;' } }) }}
			{{ form_errors(passengerProfileForm.pseudo) }}
		</div>
		<small>
			<div class="form-text mb-0 help-text text-sm-start p-1 p-sm-2" id="{{ passengerProfileForm.pseudo.vars.id ~ '_help'}}">{{ field_help(passengerProfileForm.pseudo) }}</div>
		</small>
	</div>

	{# "Select File" button for the image field : opens the local file explorer to choose a profile picture #}
	<div class="px-3 py-4" data-controller="fileInput">
		<h3 class="fs-6 fw-bold">Photo</h3>
		<p class="mx-auto my-0">
			<a href="#" class="file-input-trigger btn btn-sm btn-outline-primary" style="max-width: 125px;" aria-describedby="driver_profile_photo_input_help">
				Sélectionner un fichier</a>
			{{ form_errors(passengerProfileForm.photo) }}
		</p>
		<small>
			<div class="form-text mb-0 help-text">
				Attention : après sauvegarde, cette action est irréversible,
				la photo écrasée ne sera pas retouvée !
			</div>
			<div class="d-none" id="driver_profile_photo_input_help">
				Lien désactivé qui ouvre l'explorateur de fichier local pour choisir l'image du profil.
			</div>
		</small>
		{{ form_widget(passengerProfileForm.photo, { 'attr': { 'class': 'file-input d-none' } }) }}
	</div>

</div>

<hr>

<div class="d-flex flex-wrap justify-content-evenly mt-4 pt-3">

	{# First name input #}
	<div class="form-floating mx-2 mb-3">
		{{ form_widget(passengerProfileForm.firstName, { 'attr' : {
			'class' : 'text-start rounded-3 shadow ps-4',
			'aria-describedby': passengerProfileForm.firstName.vars.id ~ '_help',
			'style' : 'min-width: 260px;' }}) }}
		{{ form_label(passengerProfileForm.firstName) }}
		<div style="max-width: 250px;">
			{{ form_errors(passengerProfileForm.firstName) }}
		</div>
		{{ form_help(passengerProfileForm.firstName) }}
	</div>

	{# Last name input #}
	<div class="form-floating mx-2 mb-3">
		{{ form_widget(passengerProfileForm.lastName, { 'attr' : {
			'class' : 'text-start rounded-3 shadow ps-4',
			'aria-describedby': passengerProfileForm.lastName.vars.id ~ '_help',
			'style' : 'min-width: 260px;' }}) }}
		{{ form_label(passengerProfileForm.lastName) }}
		<div style="max-width: 250px;">
			{{ form_errors(passengerProfileForm.lastName) }}
		</div>
		{{ form_help(passengerProfileForm.lastName) }}
	</div>

</div>

<div class="d-flex flex-wrap justify-content-evenly">

	<div>

		{# Phone number input #}
		<div class="form-floating mx-2 mb-3">
			{{ form_widget(passengerProfileForm.phoneNumber, { 'attr' : {
				'class' : 'text-start rounded-3 shadow ps-4',
				'aria-describedby': passengerProfileForm.phoneNumber.vars.id ~ '_help',
				'style' : 'min-width: 260px;' }}) }}
			{{ form_label(passengerProfileForm.phoneNumber) }}
			<div style="max-width: 250px;">
				{{ form_errors(passengerProfileForm.phoneNumber) }}
			</div>
			{{ form_help(passengerProfileForm.phoneNumber) }}
		</div>

		{# Date of birth input #}
		<div class="form-floating mx-2 mb-3" data-controller="flatpickr" data-flatpickr-mode="dateOfBirth">
			{{ form_widget(passengerProfileForm.dateOfBirth, { 'attr' : {
				'class' : 'text-start rounded-3 shadow ps-4 flatpickr',
				'aria-describedby': passengerProfileForm.dateOfBirth.vars.id ~ '_help',
				'placeholder': "now"|date("Y-m-d"),
				'style' : 'min-width: 260px;' }}) }}
			{{ form_label(passengerProfileForm.dateOfBirth) }}
			<div style="max-width: 250px;">
				{{ form_errors(passengerProfileForm.dateOfBirth) }}
			</div>
			{{ form_help(passengerProfileForm.dateOfBirth) }}
		</div>

	</div>

	{# Address input #}
	<div class="form-floating mx-2 mb-4" style="max-width: 600px;">
		{{ form_widget(passengerProfileForm.address, { 'attr' : {
			'class' : 'text-start rounded-3 shadow ps-4',
			'aria-describedby': passengerProfileForm.address.vars.id ~ '_help',
			'style' : 'min-height: 132px; min-width: 260px;' }}) }}
		{{ form_label(passengerProfileForm.address) }}
		<div style="max-width: 250px;">
			{{ form_errors(passengerProfileForm.address) }}
		</div>
		{{ form_help(passengerProfileForm.address) }}
	</div>

</div>

<hr>

<div class="d-inline-flex flex-wrap justify-content-center mb-3">

	{# Submit button #}
	{{ form_row(passengerProfileForm.submit, { 'attr': {
		'class': 'btn btn-lg btn-primary shadow mt-1 scaleOnFocusAndHover mt-2 mx-3' }}) }}

	{% if app.user.passengerProfileCompleted %}
		{% if is_granted('ROLE_DRIVER') %}
			{# Add a ride button #}
			<div class="mb-3">
				<a href="#proposerTrajet" class="btn btn-lg btn-primary userBtn shadow mt-1 scaleOnFocusAndHover mt-2 mx-3" role="button" aria-controls="proposerTrajet" data-bs-toggle="collapse" aria-expanded="false">Proposer un trajet</a>
			</div>
		{% else %}
			{# Become driver button #}
			<div class="mb-3">
				<a href="#devenirChauffeur" class="btn btn-lg btn-primary userBtn shadow mt-1 scaleOnFocusAndHover mt-2 mx-3" role="button" aria-controls="devenirChauffeur" data-bs-toggle="collapse" aria-expanded="false">Devenir chauffeur</a>
			</div>
		{% endif %}
	{% endif %}

</div>

<div class="d-none">
	{{ form_rest(passengerProfileForm) }}
</div>

{{ form_end(passengerProfileForm) }}
