<h2 class="fw-light">
	<span class="text-nowrap">
		Il existe
		<span class="text-primary">
			{{ carpoolSearchResults|filter(carpool => carpool.departureTime|date('Y-m-d') > "now"|date('Y-m-d'))|length }}
		</span>
		trajet{{ carpoolSearchResults|filter(carpool => carpool.departureTime|date('Y-m-d') > "now"|date('Y-m-d'))|length > 1 ? 's' }}
	</span>
	<span class="text-nowrap">
		entre <span class="text-primary">{{ carpoolSearchForm.departureCity.vars.value|capitalize }}</span>
	</span>
	<span class="text-nowrap">
		et <span class="text-primary">{{ carpoolSearchForm.arrivalCity.vars.value|capitalize }}</span>
	</span>
	<span class="text-nowrap fst-italic">
		après le {{ carpoolSearchForm.departureTime.vars.value|format_datetime(pattern='d MMMM', locale='fr') }}
    </span>
</h2>

{% if carpoolSearchResults|filter(carpool => carpool.departureTime|
	date('Y-m-d') > "now"|date('Y-m-d'))|length > 1 %}
		{% include "carpool/_filters.html.twig" with {
			'targetId': 'filterCarpoolSearchResultsForFollowingDays',
			'carpools': carpoolSearchResults|filter(carpool => carpool.departureTime|date('Y-m-d') > "now"|date('Y-m-d')),
		} %}
{% endif %}

<hr class="text-primary border-2 mb-4">

<div class="d-flex justify-content-center">
	<ul class="d-flex flex-wrap justify-content-center align-items-stretch mb-5 grid following-days-grid" id="filterCarpoolSearchResultsForFollowingDaysGrid">
		{% for carpool in carpoolSearchResults %}
			{% if carpool.departureTime|date('Y-m-d') > "now"|date('Y-m-d') %}
				{% include "carpool/_searchResultCard.html.twig" with {dateTimeDisplay: 'dateTime'} %}
			{% endif %}
		{% endfor %}
	</ul>
</div>
