<div class="modal" tabindex="-1" id="carpoolJoinConfirmation">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Validation</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<p class="fw-bold">
					Confirmez-vous vouloir participer au covoiturage
					<span class="text-nowrap">organisé par {{ carpool.driverPseudo }} ?</span>
				</p>

				<p> {# Departure #}
					<span class="fwt-italic text-decoration-underline">Départ de</span><br/>
					{% if carpool.departurePlace %}
						{{ carpool.departurePlace|capitalize }}<br/>
					{% endif %}
					<span class="fw-bold">{{ carpool.departureCity|capitalize }}</span><br/>
					Le {{ carpool.departureTime|format_datetime(pattern="EEEE d MMMM y", locale="fr") }}
					<span class="text-nowrap">
						{{ carpool.departureTime|format_datetime(pattern="'à' HH'h'mm", locale="fr") }}
					</span>
				</p>

				<p> {# Arrival #}
					<span class="fwt-italic text-decoration-underline">Arrivée à</span><br/>
					{% if carpool.arrivalPlace %}
						{{ carpool.arrivalPlace|capitalize }}<br/>
					{% endif %}
					<span class="fw-bold">{{ carpool.arrivalCity|capitalize }}</span><br/>
					Le {{ carpool.arrivalTime|format_datetime(pattern="EEEE d MMMM y", locale="fr") }}
					<span class="text-nowrap">
						{{ carpool.arrivalTime|format_datetime(pattern="'à' HH'h'mm", locale="fr") }}
					</span>
				</p>

			</div>

			<div class="modal-footer">

				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-turbo="false">
					Annuler
				</button>

				{% set disabledJoinButton = false %}
				{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.credits < carpool.pricePerPerson %}
					{% set disabledJoinButton = true %}
				{% endif %}
				{# Action link #}
				<a href="{{ path('app_carpool_join', {'carpoolId': carpool.id}) }}" role="button" class="btn btn-primary {{ disabledJoinButton ? 'disabled' }}" {{ disabledJoinButton ? 'aria-disabled="true"' }} data-turbo="false">
					Payer {{ carpool.pricePerPerson }} crédits</a>

			</div>

		</div>
	</div>
</div>
