<h3 class="border-bottom mx-5 mb-4">Passagers</h3>

<div class="d-flex flex-row flex-wrap justify-content-center align-items-center mb-4 mb-lg-5">

	{% if carpool.passengers %}
		<ul class="d-flex flex-wrap justify-content-center mx-5">
			{% for passenger in carpool.passengers %}
				<li class="d-flex flex-column m-2">
					<img src="{{ asset('images/users/' ~ passenger['passengerPhotoFilename']|default('default.svg')) }}" alt="Photo ou illustration du profil EcoRide de {{ passenger['passengerPseudo'] }}" class="object-fit-cover rounded-pill border border-secondary border-2 shadow-lg mx-auto" style="width: 90px; height: 90px;"/>
					{{ passenger['passengerPseudo'] }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="mx-5">
		<h4 class="fs-6 fst-italic text-decoration-underline">Places disponibles</h4>
		<p class="fw-bold">
			{{ carpool.numberOfAvailableSeats }}
			sur
			{{ carpool.totalNumberOfSeats }}
		</p>
	</div>

</div>
